:root{
    font-family: Arial, Helvetica, sans-serif;


    /* colors used */
    --trsk_primary: #121013;
    --trsk_secondary: #4D375D;
    --trsk_tertiary: #EB596E;
    --trsk_general: #ffec6d;
}

*,ul,ol,nav,div,section,li,a,p,b,i,span{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar-thumb {
    /* background-image: -webkit-linear-gradient(top, #2f3b3fa9, #43494ba9, #0c1e249d) !important; */
    background-color: rgba(0, 0, 0, 0.712);
}
body::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
    background-color: #f5f5f500; */
    background-color: rgb(14 14 14 / 63%);
    opacity: 0;
}
body::-webkit-scrollbar {
    width: 10px;
    margin-left: -10px;
    background-color: rgba(0, 0, 0, 0.712);
    opacity: 0;
}



/* styles for navbar.php are here */
.nav_links_container{
    margin-right: 0;
    margin-left: 330px;
}

@media (max-width:768px){
    .nav_links_container{
        margin-left: 0px;
    }
}
.nav_links_container li a{
    color: rgb(201, 198, 198) !important;
    transition: .3s all ease;
}
.nav_links_container li a:hover{
    color:chocolate !important;
    transform: scaleX(1.155);
}


/* end of navbar.php styles */


/* styles for index.php starts here */

/* slider styles */

.slider-container {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100vh;
    background-image: url(../img/bg_slider.jpg);
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .left-slide {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
  }
  .feat_logo img{
      width: 240px;
      padding: 15px;
      transition: .7s all ease-in-out;
  }

  .feat_logo img:hover{
      box-shadow: 2px 2px 5px rgba(51, 50, 50, 0.856);
      transform: scale(1.1);
  }


  .left-slide > div {
    height: 100%;
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .left-slide > div > strong{
      font-size: x-large;
      text-shadow: 1px 2px 1px black;
  }
  
  .left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
    margin-left: -34px;
  }
  .left-slide button{
      color: rgb(190, 190, 190);
      background-color: rgb(247, 137, 59);
      width: 12rem;
      margin-left: -125px;
  }
  
  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    transition: transform .5s ease-in-out;


  }
  
  .right-slide div {
    background-color: rgba(70, 43, 80, 0.671);
    height: 100%;
    width: 100%;
  }

  .right-slide div img{
      width: 30rem;
      height: auto;
      margin-top: 12rem;
      margin-left: 10rem;
  }
  
  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  button:hover {
    color: #222;
  }
  
  
  .slider-container .action-buttons button {
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 100;
  }
  
  .slider-container .action-buttons .down-button {
    transform: translateY(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .slider-container .action-buttons .up-button {
    transform: translateX(-100%);
    border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
  }

/* down arrow container style */
.down_btn{
    box-sizing: border-box;
    background-color: rgba(66, 65, 65, 0.075);
    height: 8rem;
    position: relative;
    top: 497px;
    transition: .3s all ease;
    cursor: pointer;
}
.down_btn:hover{
    background-color: rgba(66, 65, 65, 0.219);
    
}
.down_btn .btn_con{
    width: fit-content;
    height: auto;
    position: relative;
    margin:auto;
    top: 43px;
    
}

.down_btn .btn_con i{
    font-size: 3rem;
    color: white;
    transition: .3s all ease-in-out;
}
.down_btn .btn_con i:hover{
    transform: scale(1.2);
}

/* abt_intro styles are here */


.abt_intro{
    background: url(../img/classy_fabric.png);
    background-position: center;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.abt_intro .h_con{
    width: 50%;
    padding: 1rem 2rem;
    color: white;
    border-radius: 5px;
}

.abt_content h2{
    font-size: 2.5rem;
}
.abt_content h2 span{
    color: chocolate;
}
.abt_content .desc{
    text-align: justify;
}
.abt_content .desc2{
    text-align: justify;
}

.abt_intro .vid_con{
    width: 40%;
    height: 30rem;
}
.v_contain{
    position: relative;
    top: -162px;
    left: 250px;
}
#ft_image{
    width: 30rem;
    height: 30rem;
}
#v_image{
    width: 170px;
    height: 170px;
    border: 2px solid black;
    border-radius: 50%;
}
.v_btn_container{
    position: relative;
    width: fit-content;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(202, 199, 199);
    top: -108px;
    left: 59px;
}
.v_btn_container a i{
    font-size: 1.5rem;
    color: white;
    margin-left: 8px;
    margin-top: 3px;
}

/* animations */
.slidin_left{
    position: relative;
    animation-name: slidin_left;
    animation-duration: 3s;
}
@keyframes slidin_left {
    from {
        opacity: 0;
        right: 200px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}
.slidin_right{
    position: relative;
    animation-name: left_slide_in;
    animation-duration: 3s;
}
@keyframes left_slide_in {
    from {
        opacity: 0;
        left: 200px;
        
    }
    to {
        opacity: 1;
        left: 0px;
        
    }
}


/* parallax about section styles are here */

.parallax{
    background: url('../img/about_bg.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}

.parallax-inner{
    padding-top: 5%;
    padding-bottom: 5%;
}



/* featured blog section is styled here */

.row>div{
    width: 1fr;
}

.feat_blogs h2{
    font-size: 2.2rem;
}
.feat_blogs h2 span{
    color: chocolate;
}

.card .card-body img{
    width: 100%;
    height: 15rem;
}
.card .card-body h5{
    font-size: 1.2rem;
}
.card .card-body p{
    color: rgb(66, 65, 65);
}



















/* styles for footer section */
.footer_wrapper{
    width: 100%;
    padding:0 2.5%;
    color: rgb(218, 216, 216);
    background-color: var(--trsk_primary);
}
.upper_footer_content{
    
}
.upper_footer_content>div{
    padding: 3rem;
}

/* first footer cards' style */

.brnd_box_footer>div{
    text-align: center;
}
.brnd_box_footer>p{
    text-align: justify;
}

#footer_logo{
    width: 100px;
    height: 60px;
    margin-bottom: 1.4rem;
} 

.social_links ul{
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 1.4rem;
}
.social_links ul li{
    background-color: rgb(228, 225, 225);
    width: 40px;
    height: 40px;
    padding-top: 1px;
    border-radius: 50%;
    transition: .3s all ease;
    
}
.social_links ul li:hover{
    background-color: rgb(182, 179, 179);
    transform: scale(1.2);
}

/* style for first card ends here */

/* style for second footer card */

.second{
    text-align: left;
}
.second h3{
    color: chocolate;
}
.second p span{
    color: var(--trsk_general);
}
.second p a{
    text-decoration: none;
    color:rgb(218, 216, 216);
}

/* style for second card ends here */

/* style for third footer card starts here */
.third h3{
    color: chocolate;
}
.third p{
    margin-bottom: 15px;
    transition: .3s all ease;
}
.third p:hover{
    color: var(--trsk_tertiary);
    transform: scaleX(1.1);
}
.third p a{
    color:rgb(218, 216, 216);
    text-decoration: none;
}

.lower_footer_content{
    justify-content: space-between;
    align-items: center;
    
}
.lower_footer_content .footer_links{
    width: 35%;
}
.lower_footer_content .footer_links ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.lower_footer_content .footer_links ul li a{
    text-decoration: none;
    color: rgb(109, 109, 109);
}
